@import 'inc/clear.scss';
@import 'inc/fonts.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
    background-color: #fff;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    font-style: normal;   
}

// ==============================================

.header {
    background-color: #010101;
    backdrop-filter: brightness(50%);
    &::after {
        position: absolute;
        content: "";
        height: 1px;
        background-color: red;
        border-radius: 5em;
        width: 500px;
        left: 35%;
        top: 100%;       
    }
    &__container {
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
    }
    &__logo {
        width: 45px;
        height: 56px;
        img {
            width: 45px;
            height: 56px;
        }
    }
    &__nav {
        color: #fff;
        display: flex;
        align-items: center;
        width: 1000px;
        justify-content: flex-end;
        gap: 5em;
        font-weight: 700;
    }
    &__list {
        display: flex;
        width: 300px;
        justify-content: space-between;
    }
    &__el {
        transition: .4s;
        &:hover {
            transition: .4s;
            color: red;
        }
    }
    &__login {
        background-color: #fff;
        border-radius: 3em;
        padding: .5em 2em;
        font-size: 16px;
        font-weight: 700;
        transition: .4s;
        max-width: 10em;
        &:hover {
            transition: .4s;
            color: #fff;
            background-color: red;
        }
    }
}

// ==============================================

.hero {
    background-color: #010101;
    
    &__container {
        background-image: url('/img/hero/hero_background.png');
        min-height: 41.7em;
        display: flex;
    }
    &__logo {
        width: 550px;
        min-height: 41.7em;
        display: flex;
        align-items: center;
        & img {
            width: 550px;
            height: 550px;
            
        }
    }
    &__box {
        padding: 7em 0 0 0;
        color: #fff;
        min-height: 41.7em;
        text-align: end;
        font-family: 'PT Sans', sans-serif;
        width: 750px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        letter-spacing: .5em;
    }
    &__title {
        font-size: 75px;
        margin: 0 0 .2em 0;
        font-weight: 700;
    }
    &__subtitle {
        color: red;
        font-size: 25px;
        margin: 0 0 1em 0;
    }
    &__text {
        letter-spacing: .2em;
        width: 450px;
        font-size: 20px;
        margin: 0 0 70px 0;
    }
    &__button {
        background-color: #fff;
        border-radius: 3em;
        padding: .5em 2em;
        font-size: 20px;
        font-weight: 700;
        transition: .4s;
        max-width: 10em;
        font-family: 'Hind', sans-serif;
        letter-spacing: normal;
        color: #000;
        &:hover {
            transition: .4s;
            color: #fff;
            background-color: red;
        }
    }
}

// ==============================================

.greet {
    background-color: #f8f9fa;
    min-height: 35em;
    &__container {
        min-height: 35em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: rgb(68, 68, 68);
        font-family: 'PT Sans', sans-serif;
        letter-spacing: .2em;
    }
    &__logo {
        width: 300px;
        height: 246px;
        margin: 2em 0 2em 0;
        img {
            width: 300px;
            height: 246px;
            filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
        }
    }
    &__title {
        font-size: 40px;
        margin: 0 0 .5em 0;
        font-family: 'Hind', sans-serif;
        font-weight: 700;
    }
    &__subtitle {
        font-size: 20px;
    }
    &__button {
        border-radius: 3em;
        width: 200px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        letter-spacing: normal;
    }
    &__buttons {
        margin: 2em 0 0 0;
        display: flex;
        gap: 2em;
        font-size: 18px;
    }
}

#btn1 {
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: red;
        color: #fff;
        transition: .4s;
    }
    transition: .4s;
}
#btn2 {
    background-color: #000;
    color: #fff;
    &:hover {
        background-color: red;
        color: #fff;
        transition: .4s;
    }
    transition: .4s;
}


// ==============================================

.courses {
    background-color: #f8f9fa;
    &__container {
        min-height: 41.7em;
        color: rgb(68, 68, 68);
        font-family: 'PT Sans', sans-serif;
    }
    &__title {
        margin: 1em 0 1em 0;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: .1em;
        text-align: center;
    }
    &__box {
        display: flex;
        height: 39.5em;
        font-family: 'Hind', sans-serif;
    }
}

.trainings {
    width: 600px;
    height: 39.5em;
    position: relative;
    &__title {
        font-size: 40px;
        font-weight: 700;
        margin: 0 0 1em 0;
        font-family: 'Hind', sans-serif;
    }
    &__list {
        height: 28em;
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    &__el {
        margin: 0 0 1em 0;
        height: 6em;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        transition: .5s;
        border-radius: 0 3em 3em 0;
        &.active {
            transition: .5s;
            width: 600px;
            background-color: red;
            animation-name: test;
            animation-duration: .5s;
            animation-direction: forwards;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &__vert-line {
        width: 5px;
        height: 428px;
        background-color: red;
        position: absolute;
    }
}

@keyframes test {
    0% {
      max-width: 500px;
    }
    100% {
      max-width: 600px;
    }
}

.block {
    width: 600px;
    height: 39.5em;
    display: flex;
    flex-direction: column;
    &__logo {
        margin: 1em auto;
        width: 350px;
        height: 350px;
        & img {
            width: 350px;
            height: 350px;
            filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
        }
    }
    &__title {
        font-size: 40px;
        font-weight: 700;
    }
    &__text {
        font-size: 24px;
        margin: 1em 0 0 0;
    }
}

// =========================================================================

.route {
    background-color: #f8f9fa;
    min-height: 1100px;
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &>p {
            position: absolute;
        }
    }
    &__outer-circle-video {
        background-color: #f8f9fa;
        border: 7px solid rgb(176, 176, 176);
        border-radius: 50%;
        width: 100px;
        height: 100px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(.5em .25em .25em rgba(0, 0, 0, 0.33));
    }
    &__inner-circle-video {
        background-color: #7f39fb;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        margin: 1em 0 2em 0;
        font-size: 40px;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-weight: 700;
    }
    &__subtitle {
        text-align: center;
        background-color: red;
        color: #f8f9fa;
        font-size: 24px;
        padding: 1em 5em;
        width: 20em;
        border-radius: 3em;
        margin: 1em 0 1em 0;
        filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
    }
    &__final {
        text-align: center;
        background-color: red;
        color: #f8f9fa;
        font-size: 24px;
        padding: 1em 5em;
        width: 20em;
        border-radius: 3em;
        margin: 1em 0 0 0;
        filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
    }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 940px;
        width: 338.48px;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__line {
        height: 50px;
        width: 7px;
        background-color: rgb(176, 176, 176);
    }
}


.play-icon {
    height: 40px;
    width: 40px;
    margin: 0 0 0 10px;
}

.test-icon {
    height: 50px;
    width: 50px;
    margin: 0 0 0 5px;
}

#beast {
    position: absolute;
    top: 4em;
    left: 5em;
    width: 200px;
    transform: rotate(-35deg);
    filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
}

#dark {
    position: absolute;
    width: 300px;
    top: 25em;
    right: 0em;
    transform: rotate(15deg);
    filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
}

#robot {
    position: absolute;
    transform: rotate(-35deg);
    width: 300px;
    left: 0em;
    bottom: 6em;
    filter: drop-shadow(1em .5em .5em rgba(0, 0, 0, 0.33));
}

#step {
    &-1 {
        top: 16em;
        left: 35em;
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(53, 53, 53);
    }
    &-2 {
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(53, 53, 53);
        top: 23.6em;
        right: 35em;
    }
    &-3 {
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: rgb(53, 53, 53);
        left: 35em;
        bottom: 19.6em;
    }
    &-4 {
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        font-size: 20px;
        right: 35em;
        bottom: 11.8em;
        color: rgb(53, 53, 53)
    }
}


// =================================================================================================

.about {
    background-color: #010101;
    min-height: 41em;
    &__container {
        color: #f8f9fa;
        display: flex;
        flex-direction: column;
        min-height: 41em;
    }
    &__logo {
        width: 500px;
        & img {
            width: 500px;
        }
    }
    &__title {
        margin: 1em 0 0 0;
        font-size: 50px;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-weight: 700;
        
    }
    &__box {
        display: flex;
        height: 37em;
        align-items: center;
    }
    &__desc {
        width: 600px;
        margin: 0 0 0 100px;
    }
    &__subtitle {
        color: red;
        font-weight: 700;
        font-size: 50px;
        margin: 0 0 2em 0;
    }
    &__text {
        font-size: 25px;
    }
}

//============================================================================================

.contact {
    min-height: 35em;
    background-color: #010101;
    &__container {
        color: #f8f9fa;
        min-height: 35em;
        display: flex;
        flex-direction: column;
        align-items: center;
        & form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
        }
        & button {
                border-radius: .5em;
                width: 200px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                letter-spacing: normal;
                background-color: red;
                font-size: 20px;
                color: #f8f9fa;
            }
        }
        &__title {
            font-family: 'Hind', sans-serif;
            font-weight: 700;
            font-size: 50px;
            margin: 0 0 1em 0;
        }
    }

input[type="text"] {
    background-color: #010101;
    width:  100px;
    background: none;
    color: #f8f9fa;
    border: 2px solid #fff;
    width: 22em;
    height: 4em;
    border-radius: 1em;
    padding: 0 0 0 1em;
    &::placeholder {
        color: #f8f9faa8;
        font-size: 16px;
    }
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}


#message {
    height: 7em;
    width: 22em;
    padding: 0 0 3em 1em;
}


// =================================================================

.footer {
    height: 72px;
    background-color: #010101;
    &__line {
        
    }
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__row {
        display: flex;
        width: 1200px;
        justify-content: space-between;
    }
    &__list {
        height: 72px;
        display: flex;
        width: 128px;
        justify-content: space-between;
        align-items: center;
    }
    &__name {
        display: flex;
        align-items: center;
        gap: 2em;
        color: #f8f9fa
    }
    &__logo {
        width: 45px;
        height: 56px;
        & img {
            width: 45px;
            height: 56px;
        }
    }
    &__el {
        &>img {
            height: 25px;
            width: 25px;
        }
    }
}